@page "/parameters/{paramName?}"

@using System.Text.Json
@using CommunityToolkit.Maui.Storage

@inject NavigationManager NavigationManager

@inject ILocalStorageService LocalStorageService

@if (!_isPathSelected )
{
    <div class="modal fade show" style="display: block;" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Укажите путь к конфигурации</h5>
                </div>

                <div class="modal-body d-flex">
                    <InputText id="folderPath" class="folder-path" style="flex:1;" @bind-Value="_confPath" readonly @onclick="PickFolderAsync" />

                </div>
                
                <div class="modal-footer">
                    <button class="btn btn-secondary" @onclick=@SetFolderPath>Продолжить</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Backdrop -->
    <div class="modal-backdrop fade show"></div>
}

@if (_isModalOpen)
{
    <div class="modal fade show" style="display: block;" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title">Ошибка в конфигурации</h5>
                    <button type="button" class="btn-close" @onclick=@(()=>{ _isModalOpen = false; } )></button>
                </div>

                <div class="modal-body">
                    @_modalText
                </div>
                
                <div class="modal-body">
                    Исправьте ошибку и повторите попытку.
                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" @onclick=@(() => { _isModalOpen = false; } )>ОК</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Backdrop -->
    <div class="modal-backdrop fade show"></div>
}


<div class="d-flex flex-row mh-100 gap-1" style="min-height: 0; flex: 1; margin-bottom: 5px; margin-top: 5px;">
    <aside class="d-flex flex-column overflow-auto mh-100 my-secondary-bg rounded-start-2" style="max-width: 350px; min-width: 350px; flex: 1; scrollbar-gutter: stable; margin-left: 5px;">
        <div class="accordion accordion-flush" id="accordionExample">

            @for (int i = 0; i < _mySectionList.Count; i++)
            {
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed shadow-none" style="padding: 12px;" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@i" aria-expanded="true" aria-controls="collapse_@i">
                            @_mySectionList[i]
                        </button>
                    </h2>
                    <div id="collapse_@i" class="accordion-collapse collapse">
                        <div class="accordion-body p-2">
                            <ul class="d-flex flex-column p-0 m-0" style="list-style-type: none;">
                                @foreach (var param in _paramList.FindAll(p => p.MySection == _mySectionList[i]))
                                {
                                    <NavLink style="color: #d4d4d4; text-decoration:none;" href=@($"parameters/{param.Name}") Match="NavLinkMatch.All">
                                        <li class="@(paramName == param.Name ? "active" : "")">@param.Designation</li>
                                    </NavLink>                               
                                }                                                   
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </aside>

    <main class="d-flex flex-column my-secondary-bg rounded-end-2 overflow-hidden" style="flex: 1; margin-right: 5px; position: relative;">
        @if (paramName is not null)
        {
            <div id="header" class="d-flex flex-row align-items-center border-bottom p-2" style="margin-left: 4px; margin-right: 4px; padding-bottom: 2px;">
                <i class="bi bi-arrow-left" style="font-size: 2rem; color: white;" hidden></i>
                <div class="flex-grow-1" style="margin-left: 5px;">
                    @($"{_paramList.FirstOrDefault(p => p.Name == paramName)!.Designation} - \"{_paramList.FirstOrDefault(p => p.Name == paramName)!.Name}\"")
                </div>
                <i class="bi bi-arrow-right" style="font-size: 2rem; color: white;" hidden></i>
            </div>
            <div id="paramData" class="d-flex flex-row overflow-auto" style="flex: 1;">
                <div id="paramData-desc" class="card m-1 p-1 justify-content-between" style="width: min-content; font-size: 15px;">
                    <div style="width: fit-content; overflow:auto;">
                        @for (int i = 0; i < _paramList.FirstOrDefault(p => p.Name == paramName)!.DescriptionSections.Length; i++)
                        {
                            @_paramList.FirstOrDefault(p => p.Name == paramName)!.DescriptionSections[i]<br><br>
                        }
                        <div>По умолчанию: @_paramList.FirstOrDefault(p => p.Name == paramName)!.DefaultValue</div>
                    </div>                 

                    <div id="footer" class="d-flex flex-column align-items-start p-1 gap-1 border-top" style="padding-bottom: 2px; width: min-content;">
                        <div class="d-flex flex-row text-center align-items-center pb-1 gap-1" style="width: stretch;">
                            <div>Значение: </div>
                            <InputText @bind-Value=@_paramFormValue class="" style="flex:1;" />
                        </div>
                   
                        <div class="d-flex flex-row align-items-center gap-1">
                            <div class="btn btn-success" @onclick=@SaveParameter> ПРИМЕНИТЬ</div>
                            <div class="btn btn-danger" @onclick=@RestoreParameter> ВОССТАНОВИТЬ</div>
                        </div>
                    </div>
                </div>
                                      
                <div id="paramData-screen" class="p-1" style="flex: 1; overflow-x:hidden; width: min-content;">
                    <div class="row row-cols-1 row-cols-md-2 g-3">
                        @for (int i = 0; i < _paramList.FirstOrDefault(p => p.Name == paramName)!.ValueOptions.Length; i++)
                        {
                            <div class="col">
                                <div class="card h-100">
                                    <img src="/images/@(_paramList.FirstOrDefault(p => p.Name == paramName)!.ValueOptions[i].ScreenshotPath)" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h6 class="card-title">@(_paramList.FirstOrDefault(p => p.Name == paramName)!.Name)=@(_paramList.FirstOrDefault(p => p.Name == paramName)!.ValueOptions[i].Value)</h6>
                                        <p class="card-text">@(_paramList.FirstOrDefault(p => p.Name == paramName)!.ValueOptions[i].Remark)</p>
                                    </div>
                                </div>
                            </div>
                        }                       
                        
                    </div>

                </div>
            </div>
        }
        else
        {
            <div class="position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
                Выберите параметр
            </div>
        }

        
    </main>
    
</div>

@code {
    [Parameter]
    public string? paramName { get; set; }

    private string _paramFormValue = default!;

    private List<string> _mySectionList = [];
    private List<Parameter> _paramList = [];

    private bool _isPathSelected = false;
    private string _confPath = "";

    private bool _isModalOpen = false;
    private string _modalText = "";

    private const string _confPathKey = "confPath";

    private async Task PickFolderAsync()
    {       
        try
        {
            var result = await FolderPicker.Default.PickAsync(CancellationToken.None);

            if (result.IsSuccessful && result.Folder is not null)
            {
                _confPath = result.Folder.Path;
            }           
        }
        catch (Exception ex)
        {
            _modalText = ex.Message;
            _isModalOpen = true;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var stream = await FileSystem.OpenAppPackageFileAsync("Resources/Data/ini_values_info.json");

        using var reader = new StreamReader(stream);
        var json = await reader.ReadToEndAsync();

        _paramList = JsonSerializer.Deserialize<List<Parameter>>(json)!;

        foreach (var param in _paramList)
        {
            if (_mySectionList.Exists(p => p == param.MySection) is false)
            {
                _mySectionList.Add(param.MySection);
            }
        }

        _confPath = await LocalStorageService.GetItemAsync<string>(_confPathKey) ?? "";
    }

    protected override async Task OnParametersSetAsync()
    {
        if (paramName is not null)
        {
            var param = _paramList.FirstOrDefault(p => p.Name == paramName)!;
            try
            {
                param.Load(_confPath);
            }
            catch (Exception ex)
            {
                NavigationManager.NavigateTo("/parameters");
                _modalText = ex.Message;
                _isModalOpen = true;
            }
            _paramFormValue = param.CurrentValue;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
    }

    private void SaveParameter()
    {
        try
        {
            _paramList.FirstOrDefault(p => p.Name == paramName)!.Save(_confPath, _paramFormValue);
        }
        catch (Exception ex)
        {
            _modalText = ex.Message;
            _isModalOpen = true;
        }
    }

    private void RestoreParameter()
    {
        try
        {
            _paramList.FirstOrDefault(p => p.Name == paramName)!.RestoreToDefault(_confPath);
        }
        catch (Exception ex)
        {
            _modalText = ex.Message;
            _isModalOpen = true;
        }
    }

    private void SetFolderPath()
    {
        if (string.IsNullOrWhiteSpace(_confPath))
        {
            return;
        }
        LocalStorageService.SetItemAsync<string>(_confPathKey, _confPath);
        _isPathSelected = true;
    }
}
